/* Remove absolutamente todas as margens e paddings padrão da página */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* Força a div principal do React a ocupar a tela inteira */
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  /* max-width: 100%; */ /* Remove o limite centralizador padrão do Vite */
  min-height: 100dvh;
}